/*
 * Copyright 2024 Michał Minarowski (@n3oney)
 * 
 * Originally created for QMK by Mark Stosberg (@markstos)
 * 
 * SPDX-License-Identifier: GPL-2.0-or-later
 */

#include <behaviors.dtsi>

/ {
    combos { compatible = "zmk,combos"; };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans            &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans            &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans            &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &studio_unlock    &trans  &trans  &trans
            >;
        };
    };
};
